* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Display", sans-serif;
}

/* this makes the navbar sticky and full height */
header {
  min-width: 20%;
  max-width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}

#main-footer {
  width: 100%;
}

main {
  max-width: 100%;
  text-align: left;
  padding: 20px 0px 0px 30px;
}

footer {
  width: 100%;
}

.title {
  font-size: 60pt;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 30%;
  margin-right: 10%;
}

#agenda {
  font-size: 30px;
}

section p {
  font-size: 24px;
}

section > h2 {
  font-size: 36px;
}

h2 ~ ol {
  color: purple;
  font-size: 30px;
}

div + nav {
  font-size: 24px;
}

h1.main {
  font-size: 5pc;
  margin: 5vh 0vw 5vh 30vw;
  position: relative;
}

details {
  font-size: 24px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.audio-vid {
  padding-left: 500px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
}

/* questions will start from line 1 to 2 in grid layout */
.ques {
  grid-column: 1/2;
}

/* responses will start from line 2 to 3 in grid layout */
.resp {
  grid-column: 2/3;
}

/* split grid into 2 columns with 1st column 300px wide */
fieldset {
  display: grid;
  grid-template-columns: 300px auto;
  grid-row: auto;
  grid-gap: 5px;
}

/* combined with header's style this makes the nav bar always at full height */
nav {
  width: 100%;
  height: 100%;
}

[type="button"] {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  width: 150px;
  height: 36px;
}

[type="button"]:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

audio,
video {
  width: 500px;
}

a:active {
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .title {
    color: blue;
  }
}
